---
layout: archive
title: "Community Service"
permalink: /orga/
author_profile: true
---

<br>

I had the pleasure of organizing the following workshops with a wonderful team each time!

{% for post in site.orga reversed %}
  {% include archive-single-orga.html %}
{% endfor %}

<br>
<br>

Additionally, I had the honor of serving as a reviewer for the following conferences and journals.
<span class="highlight-text">I am always open to help in reviewing works related to my interests!</span>

<br>
<br>

{% for post in site.review reversed %}
  {% include archive-single-review.html %}
{% endfor %}