---
layout: archive
title: "Talks and Presentations"
permalink: /talks/
author_profile: true
---

<div class="archive-boxed">
{% assign talks_by_year = site.talks | group_by_exp: "t", "t.date | date: '%Y'" | sort: "name" | reverse %}
{% for year_group in talks_by_year %}
  <h2 class="year-heading">{{ year_group.name }}</h2>
  {% assign year_talks = year_group.items | sort: "date" | reverse %}
  {% for post in year_talks %}
    {% include archive-single-talk.html %}
  {% endfor %}
{% endfor %}
</div>
