---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

I am always looking for <span class="highlight-text">students who want to do a master's or bachelor's thesis in verification, logics, and term rewriting</span>. 
Writing a thesis at the research groupe for Programming Languages and Verification gives you a good initial insight into how theoretical computer science can be combined with practical applicability.
<span class="highlight-text">Get in touch and write me a mail if you're interested!</span>

<!-- New style rendering if teaching categories are defined -->
{% if site.teaching_category %}
  {% for category in site.teaching_category  %}
    {% assign title_shown = false %}
    {% for post in site.teaching reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.teaching reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
