{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    {% if post.collection == 'teaching' %}
        <b>{{ title }}</b>
    {% elsif post.collection == 'publications' %}
        <h2 class="archive__item-title" itemprop="headline">
        {% if post.link %}
            <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
        {% elsif post.permalink %}
            <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
        {% endif %}
        </h2>
    {% endif %}
    
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

    {% if post.author %}
      by {{ post.author }}.
    {% endif %}

    {% if post.collection == 'teaching' %}
        {% if post.award %}
          {{ post.award }}
        {% endif %}
        <br><i>{{ post.venue }}</i>, {{ post.year | default: ""}}.
    {% elsif post.collection == 'publications' %}
        {% if post.category == 'journal' %}
            Published in <i>{{ post.venue }}</i>, {{ post.place }}, {{ post.bookdata }}, {{ post.year | default: ""}}.
        {% elsif post.category == 'conferences' %}
            In <i>{{ post.venue }}</i>, {{ post.place }}, {{ post.bookdata }}, {{ post.year | default: ""}}.
        {% elsif post.category == 'preprint' %}
            {{ post.year | default: ""}}.
        {% elsif post.category == 'extendedAbs' %}
            {{ post.year | default: ""}}.
        {% endif %}
    {% endif %}

    {% if post.excerpt and site.read_more != 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p></p>
    {% endif %}
    
    {% if post.citation %}
      <p>Recommended citation: {{ post.citation }}<br /></p>
    {% endif %}

    {% assign links = "" %}
    {% if post.paperurl %}
      {% assign links = links | append: '<a href="' | append: post.paperurl | append: '">Download Paper</a>' %}
    {% endif %}
    {% if post.arxivurl %}
      {% if links != "" %}{% assign links = links | append: ' | ' %}{% endif %}
      {% assign links = links | append: '<a href="' | append: post.arxivurl | append: '">Extended Version</a>' %}
    {% endif %}
    {% if post.slidesurl %}
      {% if links != "" %}{% assign links = links | append: ' | ' %}{% endif %}
      {% assign links = links | append: '<a href="' | append: post.slidesurl | append: '">Download Slides</a>' %}
    {% endif %}
    {% if post.websiteurl %}
      {% if links != "" %}{% assign links = links | append: ' | ' %}{% endif %}
      {% assign links = links | append: '<a href="' | append: post.websiteurl | append: '">Evaluation Website</a>' %}
    {% endif %}

    {% if links != "" %}
      <p style="font-size: smaller">{{ links }}</p>
    {% endif %}

  </article>
</div>
