{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    {% if post.collection == 'teaching' %}
        <b>{{ title }}</b>
        {% if post.award %}
          <span class="highlight-text">{{ post.award }}</span>
        {% endif %}
    {% elsif post.collection == 'publications' %}
        <h3 class="archive__item-title" itemprop="headline">
        {% if post.link %}
            <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
        {% elsif post.permalink %}
            <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
        {% endif %}
        </h3>
    {% endif %}

    {% assign content = "" %}

    {% if post.author %}
      {% assign content = content | append: 'by ' | append: post.author | append: '. ' %}
    {% endif %}

    {% if post.collection == 'teaching' %}
      {% if post.short-description %}
        {% assign content = content | append: post.short-description %}
      {% endif %}
      {% if post.more %}
        {% assign content = content | append: ' <a href="' | append: post.more | append: '">Read more..</a><br>' %}
      {% endif %}
      {% assign content = content | append: post.venue | append: ', ' | append: post.year | append: '. ' %}

    {% elsif post.collection == 'publications' %}
      {% if post.category == 'journal' %}
        {% assign content = content | append: 'Published in <i>' | append: post.venue | append: '</i>, ' | append: post.bookdata | append: ', ' | append: post.year | append: '.' %}
      {% elsif post.category == 'conferences' %}
        {% assign content = content | append: 'In <i>' | append: post.venue | append: '</i>, ' | append: post.place | append: ', ' | append: post.bookdata | append: ', ' | append: post.year | append: '.' %}
      {% elsif post.category == 'preprint' %}
        {% assign content = content | append: post.year | append: '.' %}
      {% elsif post.category == 'extendedAbs' %}
        {% assign content = content | append: 'In <i>' | append: post.venue | append: '</i>, ' | append: post.place | append: ', ' | append: post.year | append: '.' %}
      {% endif %}
    {% endif %}

    <p class="archive__item-content">{{ content }}</p>

    
    {% if post.citation %}
      <p>Recommended citation: {{ post.citation }}<br /></p>
    {% endif %}

    {% assign links = "" %}
    {% if post.paperurl %}
      {% assign links = links | append: '<a href="' | append: post.paperurl | append: '">Download Paper</a>' %}
    {% endif %}
    {% if post.arxivurl %}
      {% if links != "" %}{% assign links = links | append: ' | ' %}{% endif %}
      {% assign links = links | append: '<a href="' | append: post.arxivurl | append: '">Extended Version</a>' %}
    {% endif %}
    {% if post.slidesurl %}
      {% if links != "" %}{% assign links = links | append: ' | ' %}{% endif %}
      {% assign links = links | append: '<a href="' | append: post.slidesurl | append: '">Download Slides</a>' %}
    {% endif %}
    {% if post.websiteurl %}
      {% if links != "" %}{% assign links = links | append: ' | ' %}{% endif %}
      {% assign links = links | append: '<a href="' | append: post.websiteurl | append: '">Evaluation Website</a>' %}
    {% endif %}
    {% if post.correspondingPaper %}
      {% if links != "" %}{% assign links = links | append: ' | ' %}{% endif %}
      {% assign links = links | append: '<a href="' | append: post.correspondingPaper | append: '">Related Published Paper</a>' %}
    {% endif %}

    {% if links != "" %}
      <p class="archive__item-links">{{ links }}</p>
    {% endif %}

    {% if post.excerpt and site.read_more != 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p></p>
    {% endif %}

  </article>
</div>
