{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="activity-pill">
  <span class="activity-pill__accent"></span>
  <div class="activity-pill__content">
    {% if post.websiteurl %}
      <a class="activity-pill__title" href="{{ post.websiteurl }}">{{ title }}</a>
    {% else %}
      <span class="activity-pill__title">{{ title }}</span>
    {% endif %}
  </div>
</div>
